/* for header */
:root {
  --app-offset: 75px;
  --main-color: #ffdd00;
  --main-color-darked: rgb(255, 221, 0, 0.75);
  --seccondary-color: #0f265c;
  --seccondary-color-darked: rgb(15, 38, 92, 0.75);
  --error-color: rgb(228, 54, 54);
  --success-color: rgb(8, 194, 79);
  --disable-color: #f0f0f0;
  --disable-text: #bebebe;
}
